<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Uppercase</key>
	<array>
		<string>A</string>
		<string>Agrave</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Atilde</string>
		<string>Adieresis</string>
		<string>Aring</string>
		<string>Amacron</string>
		<string>Abreve</string>
		<string>Aogonek</string>
		<string>uni01CD</string>
		<string>uni0200</string>
		<string>uni0202</string>
		<string>uni0226</string>
		<string>B</string>
		<string>uni1E02</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>Cacute</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>Ccaron</string>
		<string>D</string>
		<string>Dcaron</string>
		<string>uni1E0A</string>
		<string>E</string>
		<string>Egrave</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Emacron</string>
		<string>Ebreve</string>
		<string>Edotaccent</string>
		<string>Eogonek</string>
		<string>Ecaron</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>uni0228</string>
		<string>uni1EBC</string>
		<string>F</string>
		<string>uni1E1E</string>
		<string>G</string>
		<string>Gcircumflex</string>
		<string>Gbreve</string>
		<string>Gdotaccent</string>
		<string>Gcaron</string>
		<string>uni01F4</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>uni021E</string>
		<string>I</string>
		<string>Igrave</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Itilde</string>
		<string>Imacron</string>
		<string>Ibreve</string>
		<string>Iogonek</string>
		<string>Idotaccent</string>
		<string>uni01CF</string>
		<string>uni0208</string>
		<string>uni020A</string>
		<string>J</string>
		<string>Jcircumflex</string>
		<string>K</string>
		<string>uni01E8</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>M</string>
		<string>uni1E40</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>uni01F8</string>
		<string>O</string>
		<string>Ograve</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Otilde</string>
		<string>Odieresis</string>
		<string>Omacron</string>
		<string>Obreve</string>
		<string>Ohungarumlaut</string>
		<string>uni01D1</string>
		<string>uni01EA</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>uni022E</string>
		<string>P</string>
		<string>uni1E56</string>
		<string>Q</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>uni0210</string>
		<string>uni0212</string>
		<string>S</string>
		<string>Sacute</string>
		<string>Scircumflex</string>
		<string>Scedilla</string>
		<string>Scaron</string>
		<string>uni1E60</string>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni1E6A</string>
		<string>U</string>
		<string>Ugrave</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Ubreve</string>
		<string>Uring</string>
		<string>Uhungarumlaut</string>
		<string>Uogonek</string>
		<string>uni01D3</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>V</string>
		<string>W</string>
		<string>Wcircumflex</string>
		<string>Wgrave</string>
		<string>Wacute</string>
		<string>Wdieresis</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>uni0232</string>
		<string>Ygrave</string>
		<string>uni1EF8</string>
		<string>Z</string>
		<string>Zacute</string>
		<string>Zdotaccent</string>
		<string>Zcaron</string>
		<string>AE</string>
		<string>uni01E2</string>
		<string>AEacute</string>
		<string>Eth</string>
		<string>Oslash</string>
		<string>Oslashacute</string>
		<string>Thorn</string>
		<string>Dcroat</string>
		<string>Hbar</string>
		<string>IJ</string>
		<string>Ldot</string>
		<string>Lslash</string>
		<string>Eng</string>
		<string>OE</string>
		<string>Tbar</string>
		<string>uni01C4</string>
		<string>uni01C7</string>
		<string>uni01CA</string>
		<string>uni01F1</string>
		<string>Delta</string>
		<string>uni01C5</string>
		<string>uni01C8</string>
		<string>uni01CB</string>
		<string>uni01F2</string>
		<string>Aringacute</string>
		<string>uni0394</string>
		<string>Sigma</string>
		<string>Omega</string>
		<string>uni03A9</string>
		<string>Gcommaaccent</string>
		<string>Kcommaaccent</string>
		<string>Lcommaaccent</string>
		<string>Ncommaaccent</string>
		<string>Rcommaaccent</string>
		<string>Scommaaccent</string>
		<string>Tcommaaccent</string>
	</array>
</dict>
</plist>
