h1 {
font-weight:800;
letter-spacing:-1px;
}



h2 {
font-size:1em;
font-weight:300;
letter-spacing:0px;
color:#555;

}



.mainBack {
margin-top:-22px;
font-weight:300;
font-size:1em;
color:#fff;
height:800px;
background-image:url('https://lh4.googleusercontent.com/-wt5qx0D3djs/UupqWSRplMI/AAAAAAAAIkk/UDbticrGPbI/w1768-h1326-no/background.png');
}


.whiteBox {
margin:21px;
padding:21px;
color:#fff;
/*background-color:#333;*/
}