<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>1560</integer>
	<key>capHeight</key>
	<integer>1456</integer>
	<key>copyright</key>
	<string>Digitized data Copyright (c) 2011-2014, vernon adams.</string>
	<key>descender</key>
	<integer>-556</integer>
	<key>familyName</key>
	<string>Comme Light</string>
	<key>note</key>
	<string></string>
	<key>openTypeHeadCreated</key>
	<string>2014/02/11 20:48:34</string>
	<key>openTypeNameDesigner</key>
	<string>Vernon Adams</string>
	<key>openTypeNameDesignerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNameLicense</key>
	<string>Copyright (c) 2014, vernon adams.

This Font Software is licensed under the SIL Open Font License, Version 1.1.
This license is available with a FAQ at:
http://scripts.sil.org/OFL
</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>newtypography</string>
	<key>openTypeNameManufacturerURL</key>
	<string>newtypography.co.uk</string>
	<key>openTypeNamePreferedFamilyName</key>
	<string>Comme</string>
	<key>openTypeNamePreferedSubfamilyName</key>
	<string>Light</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Comme</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Light</string>
	<key>openTypeNameVersion</key>
	<string>Version 2</string>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string>NeWT</string>
	<key>openTypeOS2WeightClass</key>
	<integer>300</integer>
	<key>openTypeOS2WidthClass</key>
	<integer>5</integer>
	<key>postscriptBlueValues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Comme-Light</string>
	<key>postscriptFullName</key>
	<string>Comme Light</string>
	<key>postscriptOtherBlues</key>
	<array>
	</array>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>Comme is a trademark of Vernon Adams and may be registered in certain jurisdictions.</string>
	<key>unitsPerEm</key>
	<integer>2048</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>0</integer>
	<key>xHeight</key>
	<integer>1082</integer>
</dict>
</plist>
